*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #444;
    color: #eee;
    font-family: serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.container {
    display: grid;
    grid-auto-flow: row;
    padding: 12px 24px;
    background-color: #444;
}

.header {
    font-size: 48px;
    font-weight: 1000;
    letter-spacing: 10px;
    background-color: #222;
    border-bottom: 12px double #7f1d1d;
    padding: 30px 20px;
    margin-bottom: 20px;
}

.page-title {
    font-size: 32px;
    font-weight: 800;
}

.main-menu {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 36px;
}

.menu-btn {
    padding: 8px 24px;
    border-radius: 20px;
    font-weight: 800;
    background-color: #dddddd;
    border: none;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: #222;
    color: #eee;
}

.menu-btn:active {
    outline: 2px solid #eee;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 290px);
    gap: 36px;
}

.book {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    border: 5px solid rgb(216, 190, 137);
    background-color: rgb(44, 32, 28);
    gap: 12px;
    padding: 20px;
    border-radius: 10% 25%;
}

.book .title {
    font-size: 28px;
    height: calc(28px * 4);
    text-transform: uppercase;
    overflow: hide;
    margin-bottom: 20px;
}

.book .author {
    font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
}

.book .read {
    align-self: end;
}

/* CSS for dialog */
::backdrop {
    background-color: black;
    opacity: 0.7;
}

dialog {
    margin: 150px 380px;
    background-color: #eee;
    border-radius: 10% 25%;
    width: 400px;
}

.dialog-title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 12px;
    padding: 12px;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px;
}

dialog button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #222;
}

dialog button:hover {
    background-color: #222;
    color: #eee;
    cursor: pointer;
}

input[type='text'],
input[type='number'] {
    font-size: 20px;
    padding: 4px 6px;
    border-radius: 4px;
    border: 1px solid grey;
}

input[type='checkbox'] {
    margin-left: 2px;
    margin-right: 2px;
    transform: scale(1.2);
}

.read-label {
    font-size: 18px;
}

.btn-container {
    align-self: end;
    display: flex;
    gap: 12px;
    margin-top: 12px;
}